{% extends 'main.html' %}
{% load static%}
{% block content %}
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: #111316;
        }
        form{
            border:1px solid black;
            margin:auto;
            padding: 40px;
            background: #14171b;
            font-size: 21px;
            color: #d9083c;
        }
    </style>
</head>

    <form action="" method="POST">
    {% csrf_token %}
       {{form.as_p}} 
    <input type="submit" class="btn btn-outline-danger btn-lg" value="Submit">
</form>


{% endblock %}